{% extends "movie_processor/base.html" %}

{% block content %}
<div class="bg_register">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h3>A confirmation email has been sent to {{email}}.  Please click the link
                    in that email to confirm your email address and complete your registration for
                    your movie adventure.</h3>
            </div>
        </div>
    </div>
</br>
</br>
</br>
</br>
</br>
</br>
</div>

{% endblock %}